@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: 'Mona Sans';
    src:
      url('Mona-Sans.woff2') format('woff2 supports variations'),
      url('Mona-Sans.woff2') format('woff2-variations');
    font-weight: 200 900;
    font-stretch: 75% 125%;
  }
  * {
    @apply text-white
  }
  html {
    @apply bg-black
  }
}

@layer components {
  .grid-layout {
    @apply h-screen grid grid-cols-1 grid-rows-[104px_1fr_55px]
      border [&>*]:border-[0.5px] [&>*]:border-white
    border-white border-opacity-20 [&>*]:border-opacity-10;
  }
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Mona Sans';
}
