@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "Mona Sans";
    src: url("Mona-Sans.woff2") format("woff2 supports variations"),
      url("Mona-Sans.woff2") format("woff2-variations");
    font-weight: 200 900;
    font-stretch: 75% 125%;
  }
  * {
    @apply box-border text-white;
  }
  body {
    @apply bg-black;
  }
  p {
    @apply font-extralight;
  }
  h2 {
    @apply font-normal;
  }
  ::-webkit-scrollbar {
    @apply right-10 w-2;
  }
  ::-webkit-scrollbar-track {
    @apply bg-transparent;
  }
  ::-webkit-scrollbar-thumb {
    @apply bg-white bg-opacity-40 hover:bg-opacity-60;
  }
}

@layer components {
  .home-block {
    @apply relative z-10 flex h-full w-full flex-col items-center
    justify-center gap-3 overflow-hidden border-white border-opacity-20 transition-all duration-500 ease-in-out hover:z-20 hover:scale-105 hover:bg-white;
  }
  .home-block-title {
    @apply text-center text-3xl xl:text-5xl;
  }
  .home-block-description {
    @apply text-center text-base;
  }
  .undermaintenance {
    @apply absolute top-6 right-[-1.5rem] w-28 rotate-45;
  }
  .border-main {
    @apply [&>*]:border-[0.5px] [&>*]:border-white [&>*]:border-opacity-20;
  }
  .grid-layout {
    @apply border-main grid h-screen grid-cols-1 grid-rows-[60px_1fr_40px];
  }
  .underline-animation {
    @apply before:absolute before:-bottom-0.5 before:left-0 before:block before:h-[1px] 
    before:w-full before:origin-center before:scale-x-0
    before:bg-white before:transition before:duration-300
    before:ease-in-out before:content-[''] before:hover:scale-x-100;
  }
}

html,
body {
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: "Mona Sans";
  box-sizing: border-box;
}
