@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: 'Mona Sans';
    src:
      url('Mona-Sans.woff2') format('woff2 supports variations'),
      url('Mona-Sans.woff2') format('woff2-variations');
    font-weight: 200 900;
    font-stretch: 75% 125%;
  }
  * {
    @apply text-white
  }
  body {
    @apply bg-black
  }
  p {
    @apply font-extralight
  }
  h2 {
    @apply font-normal
  }
}

@layer components {
  .home-block {
    @apply flex flex-col justify-center items-center border-white border-opacity-20 gap-3
    hover:bg-white hover:scale-105 transition-all ease-in-out duration-500 h-full w-full relative overflow-hidden z-10 hover:z-20;
  }
  .undermaintenance {
    @apply absolute top-6 right-[-1.5rem] w-28 rotate-45;
  }
  .border-main {
    @apply [&>*]:border-[0.5px] [&>*]:border-white [&>*]:border-opacity-20;
  }
  .grid-layout {
    @apply h-screen grid grid-cols-1 grid-rows-[60px_1fr_40px] border-main;
  }
}

html,
body {
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: 'Mona Sans';
  box-sizing: border-box;
}
